@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* <--------- Variables ---------> */
/* Colors */
/* Spacing */
/* Radius */
/* Typography */
/* Shadows */
/* Transitions */
/* Z-index */
/* Font Sizes */
/* Font Family */
/* <--------- Mixins ---------> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  pointer-events: none;
}
nav .nav-container {
  list-style-type: none;
  background-color: #0d0d0d;
  font-family: "Rubik", sans-serif;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1411764706);
  border-radius: 0.25rem;
  pointer-events: all;
}
nav .nav-container .nav-link {
  padding: 10px 15px;
  border-radius: 0.25rem;
  background-color: rgba(26, 26, 26, 0.2117647059);
  color: #fff;
  transition: all 0.17s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3490196078);
  border: 1px solid rgba(255, 255, 255, 0.062745098);
  text-decoration: none;
}
nav .nav-container .nav-link::-moz-selection {
  background-color: transparent;
}
nav .nav-container .nav-link::selection {
  background-color: transparent;
}
nav .nav-container .nav-link:hover {
  background-color: #1a1a1a;
  scale: 1.04;
}
nav .nav-container .nav-link:active {
  scale: 0.99;
}
nav .nav-container .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
  border-radius: 0.25rem;
  background-color: rgba(26, 26, 26, 0.2117647059);
}
nav .nav-container .burger input {
  display: none;
}
nav .nav-container .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav .nav-container .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
nav .nav-container .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
nav .nav-container .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
nav .nav-container .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
nav .nav-container .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
nav .nav-container .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.active {
  padding: 10px 15px;
  border-radius: 0.25rem;
  background-color: rgba(125, 125, 125, 0.2117647059);
  color: rgba(255, 255, 255, 0.9411764706);
  transition: all 0.17s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3490196078);
  border: 1px solid rgba(255, 255, 255, 0.062745098);
  text-decoration: none;
}

/* Phones */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  nav {
    justify-content: flex-end;
  }
  nav .nav-container {
    scale: 0.8;
  }
  nav .nav-container a {
    display: none;
  }
  nav .nav-container .burger {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */